<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to JJDF</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link href='http://fonts.googleapis.com/css?family=Crete+Round|Peralta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
  <link href="/css/index.css" rel="stylesheet">

  <script src="/js/custom.modernizr.js"></script>
  
</head>
<body>

  <div>
    <div class="fixed contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"><h1><a href="#">JJDF</a></h1></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>
            <li><a href="/">Home</a></li>
            <li class="divider"></li>
            <li><a href="/team">Team</a></li>
            <li class="divider"></li>
            <li><a href="/how-we-started">How we started</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#" >Biographies</a>
              <ul class="dropdown" data-dropdown-content>
                <li><a href="/clement">Prof Clement Anyiwo</a></li>
                <li><a href="/chinelo">Mrs Chinelo Anyiwo</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/speech">President's speech</a></li>
            <li class="divider"></li>
            <li><a href="/contact">Contact us</a></li>
            <li class="divider"></li>
          </ul>

          <ul class="right">
            <li><a href="/donate" class="button donate-btn" class="button">Donate</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2 id="team-heading"><img src="/img/team.png" class="heading-img"/>Biography: Mrs Ifeoma Chinelo Christiana Anyiwo</h2>
      <div class="verbose">
        <section>
          <div class="content" data-section-content>
            <p class="verbose"><blockquote>B.Sc. ( UNN); Cert. Educ; LVN</blockquote></p>

            <p class="verbose">Mrs Ifeoma Anyiwo (nee Nwokolo) is a former Senior Lecturer in Management at Port Moresby Business College, Papua New Guinea where she was certified in Computerized Accounting. She was also a Lecturer in Management with Heriot Watt University (UK) Distance Programmes.</p>

            <p class="verbose">She held the position of Managing Director of Chinany Nigeria – a limited liability company of marketers, importers and management consultants ( 1995-1998) and had to leave to accompany her husband who was proceeding on sabbatical and leave of absence. <a id="read-more-ifeoma" href="#read-more-ifeoma">Read more &raquo;</a></p></p>

            <p class="verbose extra-ifeoma">Mrs Anyiwo holds a Bachelor’s degree in Marketing from the prestigious University of Nigeria, Nsukka, Certification in Education from Port Moresby business College and License as a Vocational Nurse in the United States.</p>

            <p class="verbose extra-ifeoma">Mrs Anyiwo served as Facilitator of Workshops on Professional and Managerial Attitude, Professional Etiquette and Supervisory Management in industries and government departments of Papua New Guinea. These have improved sales in industries, such as SP Breweries and client-executive relationship in government as seen in Ministry of health.</p>

            <p class="verbose extra-ifeoma">With her marketing background she was able to develop several monographs as guidelines for sales and Supervisory Management as well as Customer Service.</p>

            <p class="verbose extra-ifeoma">During her husband’s tenure with the United Nations as HIV/AIDS Specialist, Mrs Anyiwo worked as a Volunteer Counselor of Zanzibar People Living with HIV/AIDS ( ZAPHA- plus) as a show of empathy for this group of people who are usually discriminated against..</p>

            <p class="verbose extra-ifeoma">Mrs Anyiwo belongs to a number of associations/ Committees including Nigerian National Women Entrepreneurs, Business and Professional Women of Papua New Guinea and Career Exposition of Port Moresby Business College, Papua New Guinea.</p>

            <p class="verbose extra-ifeoma">In the company of her husband, she has traveled widely in Africa, Asia, Oceania, Europe and the United States. Mrs Ifeoma Christiana Anyiwo is the co-founder,  Senior Vice President and Managing Director of Jerry and Joe Divine Foundation, a non-profit charitable organization. She now practices as a nurse.</p>
          </div>
        </section>
      </div>   
    </div> 
  </div>

  <footer class="container">
    <div id="footer" class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Jerry and Joe Divine Foundation.</p>
        </div>
        <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="#"><img src="/img/facebook.png" /></a></li>
            <li><a href="#"><img src="/img/twitter.png" /></a></li>
            <li><a href="#"><img src="/img/mail.png" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=\/js\/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/index.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->

</body>
</html>



