<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to JJDF</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link href='http://fonts.googleapis.com/css?family=Crete+Round|Peralta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
  <link href="/css/index.css" rel="stylesheet">

  <script src="/js/custom.modernizr.js"></script>
  
</head>
<body>

  <div>
    <div class="fixed contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"><h1><a href="#">JJDF</a></h1></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>
            <li><a href="/">Home</a></li>
            <li class="divider"></li>
            <li><a href="/team">Team</a></li>
            <li class="divider"></li>
            <li><a href="/how-we-started">How we started</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#" >Biographies</a>
              <ul class="dropdown" data-dropdown-content>
                <li><a href="/clement">Prof Clement Anyiwo</a></li>
                <li><a href="/chinelo">Mrs Chinelo Anyiwo</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/speech">President's speech</a></li>
            <li class="divider"></li>
            <li><a href="/contact">Contact us</a></li>
            <li class="divider"></li>
          </ul>

          <ul class="right">
            <li><a href="/donate" class="button donate-btn" class="button">Donate</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2 id="team-heading"><img src="/img/team.png" class="heading-img"/>Biography: Prof Clement Emenike Anyiwo</h2>
      <div class="verbose">
        <section>
          <div class="content" data-section-content>
            <p class="verbose"><blockquote>MD ( Odessa); M.Sc.( Lond); Zeugnis Immun. (Vienna); FMCPath ( Nig.); FWACP (WA);FICS ( Chicago); FRSTMH( Lond)</blockquote></p>

            <p class="verbose">Dr Clement E. Anyiwo is a former Professor of medical microbiology and immunology in three Nigerian Universities, University of  Malawi, University of Papua New Guinea and also the University of Tokyo at the Institute of  Medical Science where he was invited as Visiting Professor between 1999 and 2000 under the auspices of the Japanese Society for the Promotion of Science. He was the former Dean and Provost/ CEO of the College of Health Sciences, Nnamdi Azikiwe University,Nnewi Campus, Nigeria. He holds an MD from Odessa Medical University, Ukraine, M.Sc. from world-renowned University of London School of Hygiene and Tropical Medicine and eight Fellowships including the Senior Medical Fellowship of the Association of Commonwealth Universities, Fellowship of the Royal Society of Tropical Medicine and Hygiene, Fellowship of the West African College of  Physicians, Fellowship of the Japanese Society for the Promotion of Science and the coveted Fellowship, of the International College of Surgeons in Pathology of Chicago. <a id="read-more-clement" href="#read-more-clement">Read more &raquo;</a></p></p>

            <p class="verbose extra-clement">Prof. Anyiwo was former United Nations Specialist in HIV/AIDS assigned in 2003 to Zanzibar, Tanzania, perhaps in recognition of his involvement and contributions in HIV medicine since 1986, when he was working as a Postdoctoral Fellow in the London Hospital Medical College in the United Kingdom. His assignment by the United Nations Development Program as HIV/AIDS Specialist put him in charge of President Bill Clinton’s HIV/AIDS Initiative, where he functioned as community-based physician. He is also UN Peer Educator on HIV /AIDS. </p>


            <p class="verbose extra-clement">Before being appointed Commonwealth / WHO Consultant in HIV /AIDS for West Africa and Resource Staff for Workshop in community-based approach to HIV /AIDS in East African countries of Tanzania and Uganda. in 1990, he served as a member of National Expert Advisory Committee on AIDS in his native country Nigeria from 1986-88.As the former President of the Federation of African Immunological Societies ( 1994-97), Prof. Anyiwo was able to advance research in HIV /AIDS in member- countries, including Egypt where he was invited as Guest Speaker at the First Arab International Conference on AIDS and Sexual Diseases. He also acted as the Guest Speaker at the International Conference ( Nigerian Sector) of the International College of Surgeons in 1995. </p>

            <p class="verbose extra-clement">Here in the United States, he is a member of the Scientific Advisory Board of the Fund for International AIDS Research and Education ( FIARE ) In 2011, he was appointed to serve as a member of the Health Advisory Board of the City of Irving, where he is also a citizen. He is prolific in research and publications, with over 80 papers in peer-reviewed international journals and a text book in immunology: Essential Immunology for students of Medicine and Allied Subjects. His various international visiting Fellowship awards are an eloquent testimony that his research output has received international recognition. It is therefore little wonder that he is listed in the First Edition of 2000 Outstanding Scholars in the 21st Century (2002) Dr. Anyiwo has  widely traveled internationally on assignments and conferences in Africa, Asia, Oceania, Europe, the Americas and the Caribbean. He belongs to many professional associations including American Society of Microbiology, British Society for Immunology and Austrian Medical Society where he was honoured as a Life Member. Dr.Anyiwo was appointed Ambassador of Goodwill of the State of Tennessee, USA in  2005 by the State Governor-Phil Bredsen, in recognition of his contributions at the PanAfrican Conference which he had been attending as Panelist and Moderator since 2003.</p>


            <p class="verbose extra-clement">He is married to Ifeoma  Anyiwo (nee Nwokolo) and they have three children who hold degrees in Psychology, Law and Sociology. Prof. Anyiwo is the Founder and President/CEO of  Jerry and Joe Divine Foundation, a non-profit charitable organization, helping the less privileged and disadvantaged persons in our society.</p>
          </div>
        </section>
      </div>   
    </div> 
  </div>

  <footer class="container">
    <div id="footer" class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Jerry and Joe Divine Foundation.</p>
        </div>
        <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="#"><img src="/img/facebook.png" /></a></li>
            <li><a href="#"><img src="/img/twitter.png" /></a></li>
            <li><a href="#"><img src="/img/mail.png" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=\/js\/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/index.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->

</body>
</html>



