<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to JJDF</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link href='http://fonts.googleapis.com/css?family=Crete+Round|Peralta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
  <link href="/css/index.css" rel="stylesheet">

  <script src="/js/custom.modernizr.js"></script>
  
</head>
<body>

  <div class="container header">
    <div class="large-3 columns phone-desktop">
      <img id="phone-img" src="/img/phone.png" />
    </div>
    <div class="large-6 small-12 columns large-center header-title" >
      <h1><a href="#">Jerry and Joe Divine Foundation</a></h1>
    </div>
    <div class="large-3 columns direction-desktop">
      <img id="direction-img" src="/img/direction.png" />
    </div>
  </div>

  <div class="large-3 small-12 panel phone-wrapper">
    <p id="phone-txt">
      469 586 4086</br>
      214 597 1676</br>
      214 597 0543</br></p>
  </div>


  <div class="large-3 small-12 panel direction-wrapper">
    <p id="direction-txt">
      3823 North Beltline Road Apt 1105</br>
      Irving, Texas 75038</p>
  </div>

  

  <div class="container header-mobile">
    <div class="small-6 columns phone-mobile">
      <img id="phone-img" src="/img/phone.png" />
    </div>
    <div class="small-6 columns direction-mobile">
      <img id="direction-img" src="/img/direction.png" />
    </div>
  </div>
  
  <div class="row">
    <div class="large-9 large-centered columns slideshow-wrapper">
      <div class="preloader"></div>
      <ul data-orbit>
        <li>
          <img src="/img/CommonwelthUganda.jpg" alt="JJDF President with Commonwelth Team in Uganda" />
          <div class="orbit-caption">JJDF President with Commonwelth Team in Uganda</div>
        </li>
        <li>
          <img src="/img/UNassignment.jpg" alt="UN assignment and Medicos del Mundo-Zanzibar" />
          <div class="orbit-caption">UN assignment and Medicos del Mundo-Zanzibar</div>
        </li>
        <li>
          <img src="/img/UNClinton.jpg" alt="UN assignment and Preident Clinton" />
          <div class="orbit-caption">UN assignment and Preident Clinton</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <p><span>We envisage social well-being and economic rehabilitation for disadvantaged children and widows and poverty alleviation in target countries.</span></p>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <h4 id="speech-heading"><img src="/img/speech.png" class="heading-img" /> Our Mission</h4>
      <p class="verbose">
        Jerry and Joe Divine Foundation provides material assistance as well as educational and psychological support for vulnerable children (e.g. school drop-outs) and children orphaned by HIV/AIDS and natural disaster. The Foundation also seeks to rehabilitate displaced persons in the society and empower widows to attain sustainable livelihood and provides medication and support to those affected by HIV/AIDS, Malaria, Tuberculosis and Diabetes.
      </p>
    </div>

    <div class="large-6 columns">
      <h4 id="speech-heading"><img src="/img/speech.png" class="heading-img" /> What we do</h4>
      <ul class="verbose what-we-do">
        <li><span>Give</span> material assistance and educational support to vulnerable children and children orphaned by HIV/AIDS.</li>
        <li><span>Empower</span> widows to lead a sustainable life and alleviate poverty by generating income through small businesses including artisan training and farming.</li>
        <li><span>Partner</span> with pharmaceutical companies in providing generic drugs for HIV/AIDS,Tuberculosis,Malaria and Diabetes.</li>
        <li><span>Assist</span> in rehabilitating displaced and homeless persons in the society.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2 id="team-heading"><img src="/img/team.png" class="heading-img"/> Team</h2>
      <div class="verbose">
        <div class="large-6 columns">
          <h4 id="directors-heading" class="">Directors</h4>
            <ul style="list-style-type: none;" class="verbose">
              <li><strong>Clement Anyiwo</strong> MD; MSc Founder AND President (CEO)</li>
              <li><strong>Emmanuel Azuonwu</strong> MSc Vice President (Finance)</li>
              <li><strong>Adaobi Anyiwo</strong> BA, Pharm Tech (Fund-raising)</li>
              <li><strong>William Earhart</strong> BA MA (Business Affairs, US)</li>
              <li><strong>Thomas Collins</strong> (Public  relations)</li>
            </ul>
        </div>
        <div class="large-6 columns">
          <h4 id="officers-heading" class="">Officers</h4>
            <ul style="list-style-type: none;" class="verbose">
              <li><strong>Nonye Ojakovo</strong> MSc (Public Relations, Nigeria)</li>
              <li><strong>Adaobi Anyiwo</strong> Part time Secretary</li>
              <li><strong>Alexander Anyiwo</strong> LLB LLM (Legal Adviser, UK)</li>
            </ul>
        </div>
      </div>   
    </div> 
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="section-container accordion" data-section="accordion">
        <section class="active">
          <h4 class="title" data-section-title><a class="accordion-heading" href="#panel1">How we started</a></h4>
          <div class="content" data-section-content>
            <p class="verbose">Jerry and Joe Divine Foundation (JJDF) was  founded in September, 2008, and registered in the state of Texas in the United States as a non-governmental charitable organization and in memory of two heroes of faith-Venerable Jeremiah Udeogwu Anyiwo - an Anglican priest and Sir Joseph Belonwu Nwokolo-Knight of St John(KSJ) a devout catholic  who have passed to the great beyond in 1987 and 2001 respectively. They have worked tirelessly during their life time to help people in need. There is no better way of immortalizing them than to continue their legacy. <a id="read-more-started" href="#read-more-started">Read more &raquo;</a></p>

            <p class="verbose extra-started">The conception and birth of JJDF, as a child of necessity, was the effort of the children of these heroes of faith: Prof. Clement Anyiwo and Mrs. Ifeoma Christiana Nwokolo-Anyiwo. The focus is to help vulnerable children and children orphaned by HIV/AIDS or natural disaster with material assistance, educational and psychological support. We plan to empower widows to sustainable self-development and treat those debilitated by diseases such as AIDS, tuberculosis, malaria and diabetes. Our guiding philosophy is to “give a man food, you have fed him today, but teach him how to farm, you have fed him for a life time” </p>

            <p class="verbose extra-started">Motivation to launch the Jerry and Joe Divine Foundation came out of sympathy after the founders-Prof and Mrs. Anyiwo witnessed misery and hardship experienced by deprived children who roam the streets due to poverty and lack of care because their parents are either too poor to take care of them or deceased due to debilitating illnesses such as HIV/AIDS, Tuberculosis or Diabetes. This experience was after travelling to many countries of the world for 20 years particularly of Africa on assignment, conferences or vacation. We seek to ensure that these children who have lost their parents should not lose their childhood. They could well be the hope for our future.</p>

            <p class="verbose extra-started">JJDF is operated by a Board of Directors and officers who are drawn from Africa, Europe and the United States.  The target countries for operation at present are United States, Malawi, Tanzania and Nigeria.</p>
          </div>
        </section>

        <section>
          <h4 class="title" data-section-title><a class="accordion-heading" href="#panel3">Biography: Prof Clement Emenike Anyiwo</a></h4>
          <div class="content" data-section-content>
            <p class="verbose">MD ( Odessa);M.Sc.( Lond);Zeugnis Immun. (Vienna); FMCPath ( Nig.); FWACP (WA);FICS ( Chicago); FRSTMH( Lond)</p>

            <p class="verbose">Dr Clement E. Anyiwo is a former Professor of medical microbiology and immunology in three Nigerian Universities, University of  Malawi, University of Papua New Guinea and also the University of Tokyo at the Institute of  Medical Science where he was invited as Visiting Professor between 1999 and 2000 under the auspices of the Japanese Society for the Promotion of Science. He was the former Dean and Provost/ CEO of the College of Health Sciences, Nnamdi Azikiwe University,Nnewi Campus, Nigeria. He holds an MD from Odessa Medical University, Ukraine, M.Sc. from world-renowned University of London School of Hygiene and Tropical Medicine and eight Fellowships including the Senior Medical Fellowship of the Association of Commonwealth Universities, Fellowship of the Royal Society of Tropical Medicine and Hygiene, Fellowship of the West African College of  Physicians, Fellowship of the Japanese Society for the Promotion of Science and the coveted Fellowship, of the International College of Surgeons in Pathology of Chicago. <a id="read-more-clement" href="#read-more-clement">Read more &raquo;</a></p></p>

            <p class="verbose extra-clement">Prof. Anyiwo was former United Nations Specialist in HIV/AIDS assigned in 2003 to Zanzibar, Tanzania, perhaps in recognition of his involvement and contributions in HIV medicine since 1986, when he was working as a Postdoctoral Fellow in the London Hospital Medical College in the United Kingdom. His assignment by the United Nations Development Program as HIV/AIDS Specialist put him in charge of President Bill Clinton’s HIV/AIDS Initiative, where he functioned as community-based physician. He is also UN Peer Educator on HIV /AIDS. </p>


            <p class="verbose extra-clement">Before being appointed Commonwealth / WHO Consultant in HIV /AIDS for West Africa and Resource Staff for Workshop in community-based approach to HIV /AIDS in East African countries of Tanzania and Uganda. in 1990, he served as a member of National Expert Advisory Committee on AIDS in his native country Nigeria from 1986-88.As the former President of the Federation of African Immunological Societies ( 1994-97), Prof. Anyiwo was able to advance research in HIV /AIDS in member- countries, including Egypt where he was invited as Guest Speaker at the First Arab International Conference on AIDS and Sexual Diseases. He also acted as the Guest Speaker at the International Conference ( Nigerian Sector) of the International College of Surgeons in 1995. </p>

            <p class="verbose extra-clement">Here in the United States, he is a member of the Scientific Advisory Board of the Fund for International AIDS Research and Education ( FIARE ) In 2011, he was appointed to serve as a member of the Health Advisory Board of the City of Irving, where he is also a citizen. He is prolific in research and publications, with over 80 papers in peer-reviewed international journals and a text book in immunology: Essential Immunology for students of Medicine and Allied Subjects. His various international visiting Fellowship awards are an eloquent testimony that his research output has received international recognition. It is therefore little wonder that he is listed in the First Edition of 2000 Outstanding Scholars in the 21st Century (2002) Dr. Anyiwo has  widely traveled internationally on assignments and conferences in Africa, Asia, Oceania, Europe, the Americas and the Caribbean. He belongs to many professional associations including American Society of Microbiology, British Society for Immunology and Austrian Medical Society where he was honoured as a Life Member. Dr.Anyiwo was appointed Ambassador of Goodwill of the State of Tennessee, USA in  2005 by the State Governor-Phil Bredsen, in recognition of his contributions at the PanAfrican Conference which he had been attending as Panelist and Moderator since 2003.</p>


            <p class="verbose extra-clement">He is married to Ifeoma  Anyiwo (nee Nwokolo) and they have three children who hold degrees in Psychology, Law and Sociology. Prof. Anyiwo is the Founder and President/CEO of  Jerry and Joe Divine Foundation, a non-profit charitable organization, helping the less privileged and disadvantaged persons in our society.</p>
          </div>
        </section>

        <section>
          <h4 class="title" data-section-title><a class="accordion-heading" href="#panel2">Biography: Mrs Ifeoma Chinelo Christian Anyiwo</a></h4>
          <div class="content" data-section-content>
            <p class="verbose">B.Sc. ( UNN); Cert. Educ; LVN</p>

            <p class="verbose">Mrs Ifeoma Anyiwo (nee Nwokolo) is a former Senior Lecturer in Management at Port Moresby Business College, Papua New Guinea where she was certified in Computerized Accounting. She was also a Lecturer in Management with Heriot Watt University (UK) Distance Programmes.</p>

            <p class="verbose">She held the position of Managing Director of Chinany Nigeria – a limited liability company of marketers, importers and management consultants ( 1995-1998) and had to leave to accompany her husband who was proceeding on sabbatical and leave of absence. <a id="read-more-ifeoma" href="#read-more-ifeoma">Read more &raquo;</a></p></p>

            <p class="verbose extra-ifeoma">Mrs Anyiwo holds a Bachelor’s degree in Marketing from the prestigious University of Nigeria, Nsukka, Certification in Education from Port Moresby business College and License as a Vocational Nurse in the United States.</p>

            <p class="verbose extra-ifeoma">Mrs Anyiwo served as Facilitator of Workshops on Professional and Managerial Attitude, Professional Etiquette and Supervisory Management in industries and government departments of Papua New Guinea. These have improved sales in industries, such as SP Breweries and client-executive relationship in government as seen in Ministry of health.</p>

            <p class="verbose extra-ifeoma">With her marketing background she was able to develop several monographs as guidelines for sales and Supervisory Management as well as Customer Service.</p>

            <p class="verbose extra-ifeoma">During her husband’s tenure with the United Nations as HIV/AIDS Specialist, Mrs Anyiwo worked as a Volunteer Counselor of Zanzibar People Living with HIV/AIDS ( ZAPHA- plus) as a show of empathy for this group of people who are usually discriminated against..</p>

            <p class="verbose extra-ifeoma">Mrs Anyiwo belongs to a number of associations/ Committees including Nigerian National Women Entrepreneurs, Business and Professional Women of Papua New Guinea and Career Exposition of Port Moresby Business College, Papua New Guinea.</p>

            <p class="verbose extra-ifeoma">In the company of her husband, she has traveled widely in Africa, Asia, Oceania, Europe and the United States. Mrs Ifeoma Christiana Anyiwo is the co-founder,  Senior Vice President and Managing Director of Jerry and Joe Divine Foundation, a non-profit charitable organization. She now practices as a nurse.</p>
          </div>
        </section>

        <section>
          <h4 class="title" data-section-title><a class="accordion-heading" href="#panel4">Presidential Speech</a></h4>
          <div class="content" data-section-content>
            <p class="verbose">Jerry and Joe Divine Foundation is a dream that has come through and in memory of two heroes of faith-Jeremiah Anyiwo and Joseph Nwokolo.  It seeks to accomplish our goal of bringing hope and a future to the disadvantaged and deprived people particularly of the developing countries. This program is reminiscent of what Charles Loring Brace, who, horrified by the plight of orphans in 1850, organized The orphan Train that packed hundreds of orphans from New York City to give them new homes and new lives in several towns. The recent occurrence of children losing their childhood  taking place in post-earthquake Haiti ,where children are being exploited because they have lost their parents readily comes to mind. Our foundation will be helping to rehabilitate people in such predicament, empower widows to sustainable livelihood, treat and counsel people debilitated by disease such as AIDS, Tuberculosis, malaria and diabetes.</p>

            <p class="verbose">Our foundation is a non-profit organization and therefore has a burning interest to alleviate the suffering and poverty of people which as Nelson Mandela put it is the greatest insult to human dignity. Please join us in our efforts to rebuild the lives of families and community affected by disease, poverty and natural disaster. “ And do not forget to do good and help one another because these are the sacrifices that please God.” ( Hebrews 13: 16) Welcome to our website.</p>
          </div>
        </section>
      </div>
    </div>
  </div>

  <footer class="container">
    <div id="footer" class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Jerry and Joe Divine Foundation.</p>
        </div>
        <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="#"><img src="/img/facebook.png" /></a></li>
            <li><a href="#"><img src="/img/twitter.png" /></a></li>
            <li><a href="#"><img src="/img/mail.png" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=\/js\/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/index.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/foundation.topbar.js"></script>
  <script src="/js/foundation.orbit.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->

</body>
</html>
