<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to JJDF</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link href="/css/index.css" rel="stylesheet">

  <script src="/js/custom.modernizr.js"></script>
  
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            JJDF
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a id="donate-btn" href="#">Donate</a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>

  <div class="row">
    <div class="large-9 columns slideshow-wrapper">
      <div class="preloader"></div>
      <ul data-orbit>
        <li>
          <img src="http://placehold.it/1200x430&text=Our motto" alt="motto" />
          <div class="orbit-caption">Our motto</div>
        </li>
        <li>
          <img src="http://placehold.it/1200x430&text=Our vision" alt="vision" />
          <div class="orbit-caption">Our vision</div>
        </li>
        <li>
          <img src="http://placehold.it/1200x430&text=Our mission" alt="mission" />
          <div class="orbit-caption">Our mission</div>
        </li>
        <li>
          <img src="http://placehold.it/1200x430&text=What we do" alt="mission" />
          <div class="orbit-caption">What we do</div>
        </li>
      </ul>
    </div>

    <div class="large-3 columns">
      <div class="panel">
        <img id="direction-img" src="/img/direction.png" />
        <p id="direction-txt">
          3823 North Beltline Road Apt 1105</br>
          Irving, Texas 75038</p>
      </div>

      <div class="panel">
        <img id="phone-img" src="/img/phone.png" />
        <p id="phone-txt">
          469 586 4086</br>
          214 597 1676</br>
          214 597 0543</br></p>
      </div>
    </div>
  </div>

  <div class="row added-bottom-border">
    <div class="large-12 columns">
      <h2 id="about-heading"  class=""><img src="/img/group.png" class="heading-img"/> Who are we?</h2>
        <p class="verbose">Jerry and Joe Divine Foundation (JJDF) was  founded in September, 2008, and registered in the state of Texas in the United States as a non-governmental charitable organization and in memory of two heroes of faith-Venerable Jeremiah Udeogwu Anyiwo - an Anglican priest and Sir Joseph Belonwu Nwokolo-Knight of St John(KSJ) a devout catholic  who have passed to the great beyond in 1987 and 2001 respectively. They have worked tirelessly during their life time to help people in need. There is no better way of immortalizing them than to continue their legacy. <a id="read-more-about" href="#">Read more &raquo;</a></p>

        <p class="verbose ">The conception and birth of JJDF, as a child of necessity, was the effort of the children of these heroes of faith: Prof. Clement Anyiwo and Mrs. Ifeoma Christiana Nwokolo-Anyiwo. The focus is to help vulnerable children and children orphaned by HIV/AIDS or natural disaster with material assistance, educational and psychological support. We plan to empower widows to sustainable self-development and treat those debilitated by diseases such as AIDS, tuberculosis, malaria and diabetes. Our guiding philosophy is to “give a man food, you have fed him today, but teach him how to farm, you have fed him for a life time” </p>

        <p class="verbose">Motivation to launch the Jerry and Joe Divine Foundation came out of sympathy after the founders-Prof and Mrs. Anyiwo witnessed misery and hardship experienced by deprived children who roam the streets due to poverty and lack of care because their parents are either too poor to take care of them or deceased due to debilitating illnesses such as HIV/AIDS, Tuberculosis or Diabetes. This experience was after travelling to many countries of the world for 20 years particularly of Africa on assignment, conferences or vacation. We seek to ensure that these children who have lost their parents should not lose their childhood. They could well be the hope for our future.</p>

        <p class="verbose">JJDF is operated by a Board of Directors and officers who are drawn from Africa, Europe and the United States.  The target countries for operation at present are United States, Malawi, Tanzania and Nigeria.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2 id="team-heading"><img src="/img/team.png" class="heading-img"/> Team</h2>
      <div class="verbose">
        <div class="large-6 columns">
          <h4 id="directors-heading" class="">Directors</h4>
            <ul style="list-style-type: none;" class="verbose">
              <li><strong>Clement Anyiwo</strong> MD; MSc Founder AND President (CEO)</li>
              <li><strong>Emmanuel Azuonwu</strong> MSc Vice President (Finance)</li>
              <li><strong>Adaobi Anyiwo</strong> BA, Pharm Tech (Fund-raising)</li>
              <li><strong>William Earhart</strong> BA MA (Business Affairs, US)</li>
              <li><strong>Thomas Collins</strong> (Public  relations)</li>
            </ul>
        </div>
        <div class="large-6 columns">
          <h4 id="officers-heading" class="">Officers</h4>
            <ul style="list-style-type: none;" class="verbose">
              <li><strong>Nonye Ojakovo</strong> MSc (Public Relations, Nigeria)</li>
              <li><strong>Adaobi Anyiwo</strong> Part time Secretary</li>
              <li><strong>Alexander Anyiwo</strong> LLB LLM (Legal Adviser, UK)</li>
            </ul>
        </div>
      </div>   
    </div>
    
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="">
        <h4 id="speech-heading"><img src="/img/speech.png" class="heading-img" /> Presidential address</h4>
        <p class="verbose">Jerry and Joe Divine Foundation is a dream that has come through and in memory of two heroes of faith-Jeremiah Anyiwo and Joseph Nwokolo.  It seeks to accomplish our goal of bringing hope and a future to the disadvantaged and deprived people particularly of the developing countries. This program is reminiscent of what Charles Loring Brace, who, horrified by the plight of orphans in 1850, organized The orphan Train that packed hundreds of orphans from New York City to give them new homes and new lives in several towns. The recent occurrence of children losing their childhood  taking place in post-earthquake Haiti ,where children are being exploited because they have lost their parents readily comes to mind. Our foundation will be helping to rehabilitate people in such predicament, empower widows to sustainable livelihood, treat and counsel people debilitated by disease such as AIDS, Tuberculosis, malaria and diabetes.</p>

        <p class="verbose">Our foundation is a non-profit organization and therefore has a burning interest to alleviate the suffering and poverty of people which as Nelson Mandela put it is the greatest insult to human dignity. Please join us in our efforts to rebuild the lives of families and community affected by disease, poverty and natural disaster. “ And do not forget to do good and help one another because these are the sacrifices that please God.” ( Hebrews 13: 16) Welcome to our website.
      </div>
    </div>
  </div>

  <footer class="container">
    <div id="footer" class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Jerry and Joe Divine Foundation.</p>
        </div>
        <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="#"><img src="/img/facebook.png" /></a></li>
            <li><a href="#"><img src="/img/twitter.png" /></a></li>
            <li><a href="#"><img src="/img/mail.png" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=\/js\/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/index.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/foundation.topbar.js"></script>
  <script src="/js/foundation.orbit.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->

</body>
</html>
