<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to JJDF</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link href='http://fonts.googleapis.com/css?family=Crete+Round|Peralta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
  <link href="/css/index.css" rel="stylesheet">

  <script src="/js/custom.modernizr.js"></script>
  
</head>
<body>

  <div>
    <div class="fixed contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"><h1><a href="#">JJDF</a></h1></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>
            <li><a href="/">Home</a></li>
            <li class="divider"></li>
            <li><a href="/team">Team</a></li>
            <li class="divider"></li>
            <li><a href="/how-we-started">How we started</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#" >Biographies</a>
              <ul class="dropdown" data-dropdown-content>
                <li><a href="/clement">Prof Clement Anyiwo</a></li>
                <li><a href="/chinelo">Mrs Ifeoma Anyiwo</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/speech">President's speech</a></li>
            <li class="divider"></li>
            <li><a href="/contact">Contact us</a></li>
            <li class="divider"></li>
          </ul>

          <ul class="right">
            <li><a href="/donate" class="button donate-btn" class="button">Donate</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2 id="team-heading"><img id="logo-img" src="/img/logo.png" class="heading-img"/> Jerry and Joe Divine Foundation</h2>
        <div class="row">
          <div class="large-9 large-centered columns slideshow-wrapper">
            <div class="preloader"></div>
            <ul data-orbit>
              <li>
                <img src="/img/CommonwelthUganda.jpg" alt="JJDF President with Commonwelth Team in Uganda" />
                <div class="orbit-caption">JJDF President with Commonwelth Team in Uganda</div>
              </li>
              <li>
                <img src="/img/UNassignment.jpg" alt="UN assignment and Medicos del Mundo-Zanzibar" />
                <div class="orbit-caption">UN assignment and Medicos del Mundo-Zanzibar</div>
              </li>
              <li>
                <img src="/img/UNClinton.jpg" alt="UN assignment and Preident Clinton" />
                <div class="orbit-caption">UN assignment and Preident Clinton</div>
              </li>
            </ul>
          </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <p><blockquote><span>We envisage social well-being and economic rehabilitation for disadvantaged children and widows and poverty alleviation in target countries.<span></blockquote></p>
        </div>
      </div>
      
      <div class="row">
        <div class="large-6 columns">
          <h4 id="speech-heading"><img src="/img/speech.png" class="heading-img" /> Our Mission</h4>
          <p class="verbose">
            Jerry and Joe Divine Foundation provides material assistance as well as educational and psychological support for vulnerable children (e.g. school drop-outs) and children orphaned by HIV/AIDS and natural disaster. The Foundation also seeks to rehabilitate displaced persons in the society and empower widows to attain sustainable livelihood and provides medication and support to those affected by HIV/AIDS, Malaria, Tuberculosis and Diabetes.
          </p>
        </div>

        <div class="large-6 columns">
          <h4 id="speech-heading"><img src="/img/speech.png" class="heading-img" /> What we do</h4>
          <ul class="verbose what-we-do">
            <li><span>Give</span> material assistance and educational support to vulnerable children and children orphaned by HIV/AIDS.</li>
            <li><span>Empower</span> widows to lead a sustainable life and alleviate poverty by generating income through small businesses including artisan training and farming.</li>
            <li><span>Partner</span> with pharmaceutical companies in providing generic drugs for HIV/AIDS,Tuberculosis,Malaria and Diabetes.</li>
            <li><span>Assist</span> in rehabilitating displaced and homeless persons in the society.</li>
          </ul>
        </div>
      </div>

    </div> 
  </div>

  <footer class="container">
    <div id="footer" class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Jerry and Joe Divine Foundation.</p>
        </div>
        <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="#"><img src="/img/facebook.png" /></a></li>
            <li><a href="#"><img src="/img/twitter.png" /></a></li>
            <li><a href="#"><img src="/img/mail.png" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=\/js\/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/index.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->

</body>
</html>
