<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to JJDF</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link href='http://fonts.googleapis.com/css?family=Crete+Round|Peralta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
  <link href="/css/index.css" rel="stylesheet">

  <script src="/js/custom.modernizr.js"></script>
  
</head>
<body>

  <div>
    <div class="fixed contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"><h1><a href="#">JJDF</a></h1></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>
            <li><a href="/">Home</a></li>
            <li class="divider"></li>
            <li><a href="/team">Team</a></li>
            <li class="divider"></li>
            <li><a href="/how-we-started">How we started</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#" >Biographies</a>
              <ul class="dropdown" data-dropdown-content>
                <li><a href="/clement">Prof Clement Anyiwo</a></li>
                <li><a href="/chinelo">Mrs Chinelo Anyiwo</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/speech">President's speech</a></li>
            <li class="divider"></li>
            <li><a href="/contact">Contact us</a></li>
            <li class="divider"></li>
          </ul>

          <ul class="right">
            <li><a href="/donate" class="button donate-btn" class="button">Donate</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2 id="team-heading"><img src="/img/team.png" class="heading-img"/>Presidential Speech</h2>
      <div class="verbose">
        <p class="verbose">Jerry and Joe Divine Foundation is a dream that has come through and in memory of two heroes of faith-Jeremiah Anyiwo and Joseph Nwokolo.  It seeks to accomplish our goal of bringing hope and a future to the disadvantaged and deprived people particularly of the developing countries. This program is reminiscent of what Charles Loring Brace, who, horrified by the plight of orphans in 1850, organized The orphan Train that packed hundreds of orphans from New York City to give them new homes and new lives in several towns. The recent occurrence of children losing their childhood  taking place in post-earthquake Haiti ,where children are being exploited because they have lost their parents readily comes to mind. Our foundation will be helping to rehabilitate people in such predicament, empower widows to sustainable livelihood, treat and counsel people debilitated by disease such as AIDS, Tuberculosis, malaria and diabetes.</p>

        <p class="verbose">Our foundation is a non-profit organization and therefore has a burning interest to alleviate the suffering and poverty of people which as Nelson Mandela put it is the greatest insult to human dignity. Please join us in our efforts to rebuild the lives of families and community affected by disease, poverty and natural disaster. “ And do not forget to do good and help one another because these are the sacrifices that please God.” ( Hebrews 13: 16) Welcome to our website.</p>
          </div>
      </div>   
    </div> 
  </div>

  <footer class="container">
    <div id="footer" class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Jerry and Joe Divine Foundation.</p>
        </div>
        <div class="large-6 small-12 columns">
          <ul class="inline-list right">
            <li><a href="#"><img src="/img/facebook.png" /></a></li>
            <li><a href="#"><img src="/img/twitter.png" /></a></li>
            <li><a href="#"><img src="/img/mail.png" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=\/js\/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/index.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->

</body>
</html>



