body {
  font-family: 'Cantata One', serif;
  color: #503428;
}

.header {
  background-color: #ccc;
  position: relative;
  height: 80px;
}

.header-title {
  padding: 20px;
  font-family: 'Crete Round', serif;
  font-size: 8px;
  color: #503428;
  text-align: center;
}

.slideshow-wrapper {
  margin-top: 30px;
}

.extra-started, .extra-clement, .extra-ifeoma {
  display: none;
}

.what-we-do {
  list-style-type: none;
}

span {
  color: #503428;
  font-style: italic;
}


.row {
  margin-bottom: 30px;
}

.row .panel {
  background-color: #2BA6CB;

  
}

.heading-img {
  padding-right: 20px;
}

#about-heading, #team-heading, #speech-heading {
  border: 1px solid #EEEEEE;
  background-color: #2BA6CB;
  padding: 10px 20px;

  
}

#directors-heading, #officers-heading {
  border: 1px solid #EEEEEE;
  background-color: #c4e8f2;
  padding: 5px 10px;
}

.verbose {
  padding: 0px 10px;
  /*min-height: 400px;*/
}

.verbose ul li {
  border-bottom: 1px solid #EAE8EA;
  padding: 10px 0px;
}
#footer {
  padding-top: 50px;
  background-color: #333333;
}

#footer p {
  color: #5A5A5A;
}
