body {
  background-color: #fcf9fc;
}

.top-bar {
  margin-bottom: 50px;
  background-color: #6F5092;
}

#donate-btn {
  background-color: #65399b;
}

#read-more-about {
  color: #7212e8;
}

.extra-about {
  display: none;
}

.row {
  margin-bottom: 30px;
}

.row .panel {
  background-color: #CCCCCC;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#CCCCCC), to(#d8d6d6));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #CCCCCC, #d8d6d6);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #CCCCCC, #d8d6d6);

  /* IE 10 */
  background: -ms-linear-gradient(left, #CCCCCC, #d8d6d6);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #CCCCCC, #d8d6d6);
}

.heading-img {
  padding-right: 20px;
}

#direction-img, #phone-img {
  width: 30px;
  height: 30px;
  float: left;
}

#direction-txt, #phone-txt {
  margin-left: 30px;
  padding-left: 10px;
}

#about-heading, #team-heading, #speech-heading {
  border: 1px solid #EEEEEE;
  background-color: #bbadcc;
  padding: 10px 20px;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#a898bc), to(#bbadcc));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #a898bc, #bbadcc);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #a898bc, #bbadcc);
}

#directors-heading, #officers-heading {
  border: 1px solid #EEEEEE;
  background-color: #eae8ea;
  padding: 5px 10px;
}

.verbose {
  padding: 0px 10px;
}

#footer {
  padding-top: 50px;
  background-color: #333333;
}

#footer p {
  color: #5A5A5A;
  text-align: left;
}

@media (min-width: 768px) {
  #directors {
    border-right: 1px solid #EEEEEE;
  }

  #officers {
    padding-left: 50px;
  }
}
